doctype 5
html
	head
		link(rel='stylesheet',	href='/stylesheets/style.css')
		block script
			script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
			script(src='/javascripts/jquery-1.7.2.js')
			script(src="//connect.facebook.net/en_US/all.js")

		block content 



		